.accueil{
    background:url(https://www.google.com/search?q=image+lumineux&rlz=1C1ZKTG_frSN998SN998&oq=image+lumineux&aqs=chrome..69i57j0i22i30l6j0i15i22i30l3.45116j0j7&sourceid=chrome&ie=UTF-8#vhid=lCXfTdRGJWy7QM&vssid=l);
    background-repeat:"repeat";
    background-size:cover;
    background-position:left;
}